= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!

  .row
    .col-md-4
    .col-md-4

      %h2 #{t 'user_.resive_confirm'}

      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true,
         value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control"
      .form-group
        = f.submit "#{t 'user_.send'}", class: "btn btn-default "
        %br
        = render "devise/shared/links"