= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = render 'layouts/error_messages', object: f.object

  .row
    .col-md-4
    .col-md-4

      %h2 #{t 'user_.unlock_confirm'}

      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: "form-control"
      .form-group
        = f.submit "#{t 'user_.send'}", class: "btn btn-default "

      = render "devise/shared/links"
