- arr = @post.content#.inspect.gsub('\r\n', ' <p> ').gsub('" ', '').gsub(' "', '').gsub('"', '').gsub('"', '').html_safe
- arr = arr.split(' ')

- if arr[0]
  - if arr[0].split('site:')[1]
    - site_url = arr[0].split('site:')[1].split('++')[0]
    - arr[0] = ""
    #{t 'content.upload_from'}
    = link_to site_url, site_url
    %br

- arr.each do |w|
  - begin
    - open(w, 'rb') do |fh|
      - if !ImageSize.new(fh).size.nil?
        %br
        = image_tag(w)
        %br
      - else link_to w, w
  - rescue
  - if w[0..10] == 'data:image/'
    = image_tag(w)
  - if image_tag(w).inspect.split('src=\"')[1].split('\" />"')[0].nil? || !image_tag(w).inspect.split('src=\"/images/')[1].nil?
    = w